<phpunit bootstrap="bootstrap.php">
    <php>
        <server name="SERVER_NAME" value="localhost"/>
    </php>
    <testsuites>
        <testsuite name="file_scanner">
            <directory>./core/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../../core</directory>
        </whitelist>
    </filter>
    <logging>
        <!--<log type="coverage-html" target="./tmp/report" lowUpperBound="35" highLowerBound="70"/>-->
    </logging>
</phpunit>